.box-shadow{
    box-shadow: 0px, 5px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

body {
    background-color: #2f3227;
}

.css-zxdg2z{
    padding: 0px;

}

.logo{
    width: 35vw;
    height: 20vh;

}
